

/*All*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p, li {
    color: #2d2d2d;
}

h4 {
    text-transform: uppercase;
    font-size: 14px;
}

li, p {
    line-height: 1.7;
}

section {
    width: 50%;

}

.text-center {
    text-align: center;
}

.styled-list {
    list-style-position: inside;
    padding-left: 0;
}

.about-section, .contact-section {
    display: flex;
}

.block, .block-header {
    flex-direction: row;
    padding: 0 50px;
}

.block {
    flex-basis: 70%;
}

.block-header {
    flex-basis: 30%;
}

.margin60 {
    margin: 50px auto;
}

.padding50 {
    padding: 50px 0;
}


/*Nav*/

.header {
    margin: 30px auto 20px;
}

header nav {
    padding: 25px 0;
    background-color: #f7f7f7;
    text-align: center;
}

nav li {
    display: inline;
}

nav ul a {
    padding: 0 10px;
    color: #272727;
    text-align: center;

}

nav ul a:hover, #contact_me a:hover, a.link:hover {
    color: #000000;
    transition: 0.5s ease-out;
}


/*Intro*/

.section-intro {
    min-height: 600px;
    margin: 140px auto 80px;
    text-align: center;
}

.img-wrappper {
    margin: 60px auto;
    text-align: center;
}

.main-photo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

ul.social-icons {
    padding-left: 0;
    list-style: none;
    margin: 40px auto;
}

ul.social-icons li {
    display: inline-block;
    margin-right: 1.5em;
}

ul.social-icons li a {
    font-size: 1.2em;
    color: black;
}

ul.social-icons li a:hover {
    color: #f53b66;
    transition: 0.2s ease-out;
}

.button {
    background-color: #f53b66;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 0.7em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50px;
}

.button a {
    color: white;
}

.button:hover {
    background-color: #000;
    transition: 0.5s ease-out;
}


/*About Me*/

.about-section h4 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 50px auto 30px;
}

/*Contact*/

.link {
    color: #f53b66;
}

footer {
    background-color: #2d2d2d;
    color: white;
    padding: 50px;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 600px) and (max-width: 999px) {

}